sms.com {
	encode gzip
	reverse_proxy app:3000
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}
}

www.sms.com {
	redir https://sms.com{uri} permanent
}